<!DOCTYPE html>
<html>
<% include ./partials/head %>
<body>
  <h1>Happy Hour</h1>
  <div>
    <img src="/img/bartender.jpg" alt="">
  </div>
  <div id="bartender">
    <input type="submit" value="What'll it be?" >
  </div>
  <div id='welcome'>
    <input id='start' type="submit" value="Hmm... not sure" >
    <input id="random" type="submit" value="Dealer's choice" >
  </div>
  <div id="questions">
    <h5></h5>
    <table>
      <tr>
        <input class="firstRound" id="qOne"type="submit">
        <input class="firstRound" id="qTwo"type="submit">
      </tr>
      <tr>
        <input class="firstRound" id="qThree"type="submit">
        <input class="firstRound" id="qFour"type="submit">
      </tr>
    </table>
  </div>
  <div id='modal'>
    <section>
      <div id='drink'>
        <img src="" alt="">
        <button>Save</button>
      </div>
      <h4>Coming right up</h4>
      <ul></ul>
    </section>
  </div>
</body>
</html>
