<!DOCTYPE html>
<html>
<% include ./partials/head %>
<body>
<p>working</p>
<input type="submit" value="get me a drink">
<img src="https://img0.etsystatic.com/107/1/8422091/il_214x170.882942172_qmjc.jpg" alt="">
<button>click me...</button>
</body>
</html>
