<!DOCTYPE html>
<html>
<% include ./partials/head %>
<body>
<p>working</p>
<img src="https://img0.etsystatic.com/107/1/8422091/il_214x170.882942172_qmjc.jpg" alt="">
  <div>
    <ul>
      <li><%= quote %></li>
      <li><%= author %></li>
    </ul>
  </div>
</body>
</html>
