body {
  margin-top: 50px;
  color: white;
  font-family: Helvetica;
  text-shadow: 2px 2px black;
  text-align: center;
  display: block;
  margin: 10px;
  background-image: url('/img/bar.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}
h1 {
  margin-top: 100px;
}
#tender img{
  border: 2px white solid;
}
#nav {

  position: fixed;
  top: 0;
  width: 100%;
  color: rebeccapurple;
  text-align: right;
  padding-top: 15px;
  box-shadow: 0px 0px 8px 0px black;
  background-color: rebeccapurple;

}


form {
  display: inline!important;
  color:white;
  text-shadow: 2px 2px black;
  /*margin: 15px 5px;*/
}

input[type=submit] {
  display: inline-block;
  margin-top: 10px;
  margin-right: 20px;
  margin-left: 20px;
  background: white;
  padding-right: 20px;
  /*background: white;*/

}
label{
  display: inline-block;
  margin-left: 20px;
  margin-right: 15px;
}


.button {
  background-color: rebeccapurple;
}

img {
  width:200px;
  margin-left: auto;
  margin-right: auto;

}


#modal {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.75);
}

#modal section {
  position: relative;
  background-color: white;
  width: 50%;
  height: 50%;
  padding: 2em;
  margin: 0 auto;
  text-align: left;
  top: 30%;
  margin-top: -5%;
}

#modal li {
  text-align: left;
}
#modal img {
  float: left;
  margin-top: 5%;
  width: 100%;
}


#drink {
  height: 100%;
  width:25%;
  float:left;
  margin: 0;
}
.quote {
  font-style: italic;
}

#ingredients li{
  display: inline-block;
}

#bartender {
  display: inline;
}
#welcome {
  display: none;
  position: relative;
  width: 50%;
  height: 50%;
  margin-left: auto;
  margin-right: auto;
  padding: 2em;
  top: 30%;
}
#questions {
  display: none;
  position: relative;
  width: 40%;
  height: 50%;
  margin-left: auto;
  margin-right: auto;
  padding: 2em;
  top: 30%;
}
#questions ul{
  display:inline-block;
}
