<!DOCTYPE html>
<html>
<% include ../partials/head %>
<body>
  <section>
    <form method="POST" action="/users">
      <label for="">Username:</label>
      <input type="text" name="user[username]"><br>
      <label for="">Email:</label>
      <input type="email" name="user[email]"><br>
      <label for="">Password:</label>
      <input type="password" name="user[password]"><br>
      <input type="submit" value="Create New User">
    </form>
  </section>
</body>
</html>
